header{
    position: relative;
    width: 100%;
    height: 150px;
}

.img_header_background{
    position: absolute;
    width: 100%;
    height: 150px;
    top: 0px;
    left: 0px;
}
.img_logo{
    position: absolute;
    width: 150px;
    height: 80px;
    margin-top: 20px;
    margin-left: 20px;
}
.slogan{
    position: absolute;
    font-size: larger;
    font-style: italic;
    color: white;
    margin-top: 100px;
    margin-left: 15px;
}
.main_name{
    position: absolute;
    font-size: 100px;
    font-style: italic;
    font-weight: bolder;
    margin-left: 38.5%;
    margin-top: 0px;
    text-shadow: 0 0 20px #fefcc9, 2px -2px 3px #feec85, -4px -4px 5px #ffae34, 5px -10px 6px #ec760c, -5px -12px 8px #cd4606, 0 -15px 20px #973716, 2px -15px 20px #451b0e;
    color: #666;
}
#icon_menu{
    position: absolute;
    margin-top: 2%;
    width: 5%;
}
.menu{
    float: right;
    box-sizing:border-box;
    margin:0;
    margin-right: 10%;
    padding:0;
}
li{
    list-style-type:none;
    position:relative;
    width:120px;
}
                
li a{
    background-color: rgb(0, 255, 0);
    text-decoration:none;
    display:inline-block;
    padding:5px 10px;
    width:120px;
    height:30px;
    border:1px solid #000;
    color:#000;
}
#full_menu{
    display: none;
}