.links{
display: flexbox;
justify-content: center;
margin-bottom: 40px;
}
.title_links{
    text-align: center;
    color: black;
    -webkit-text-stroke: 2px darkred;
    font-style: italic;
    font-weight: bolder;
}
.img_links{
    display: flex;
    justify-content: space-around;
}
.faraon_img{
width: 200px;

}
.mana_img{
width: 200px;
}
.king_gizzard_img{
width: 200px;
height: 200px;
}
.tmep_img{
width: 200px;
}