@import '/styles/header.css';
@import '/styles/banner.css';
@import '/styles/bio.css';
@import '/styles/links.css';
@import '/styles/footer.css';

body{
    background-image: radial-gradient(circle, #51ff00 50%, #8b00b6 100%)
}